# Auto detect text files and perform LF normalization
* text=auto

# Linguist language statistics
*.[Qq]md linguist-detectable
*.[Rr]md linguist-detectable
*.html linguist-vendored
*.tex linguist-vendored
